#name:focus + label {
  color: rgb(237, 183, 125) !important;
}
#lable {
  color: grey !important;
}
body {
  background-color: rgb(255, 217, 176) !important;
}

ul li {
  background-color: white !important;
  color: black !important;
  border-radius: 20px !important;
  font-weight: 700;
}
ul li:hover {
  background-color: rgb(237, 183, 125) !important ;
}
ul li:active {
  background-color: black !important;
  color: white !important;
}
.button {
  background-color: rgb(236, 164, 86) !important;
}
.link {
  color: rgb(237, 183, 125) !important;
}
.link:hover {
  text-decoration: underline !important;
}
@media screen and (min-width: 480px) {
  img {
    height: 680px !important;
  }
}


input:focus{
    box-shadow: none !important;
}

.btn:hover{
    background-color:#df790c !important ;
}
.btn:active{
    background-color: black !important;
}
