body {
  background: black !important;
}
.main {
  background-color: black;
}
.second {
  background-color: white;
  border: 5px solid gray;
}

.yellow{
  color: white !important;
  font-weight: bold !important;
  
}
.button{
  background-color: #F5F5F5 !important;
  color: black !important;
  
}