* {
  margin: 0;
  padding: 0;
}

/* @import url("https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap");
.zara {
  font-family: "GFS Didot", serif;
  font-weight: 400;
  font-style: normal;
} */
@font-face {
  font-family: calvin;
  src: url(assets/font/calvin.ttf);
}
.calvin {
  font-family: calvin;
}
@font-face {
  font-family: prada;
  src: url(assets/font/parada.otf);
}
.prada {
  font-family: prada;
}
@font-face {
  font-family: gucci;
  src: url(assets/font/guuci.otf);
}
.gucci {
  font-family: gucci;
}
@font-face {
  font-family: zara;
  src: url(assets/font/zara2.otf);
}
.zara {
  font-family: zara;
}
@font-face {
  font-family: versace;
  src: url(assets/font/versace.otf);
}
.versace {
  font-family: versace;
  padding-top: 5px;
}

body {
  padding-right: 0px !important;
}
body::-webkit-scrollbar {
  display: none !important;
  /* margin: 0px !important; */
}
.home-cont {
  width: 86% !important;
  margin: auto !important;
}
.h-heading {
  font-size: 10vmin;
  margin-bottom: 1.5rem;
}
.font4 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
@font-face {
  font-family: font3;
  src: url(assets/font/soliden.otf);
}
@font-face {
  font-family: heading;
  src: url(assets/Demo_Fonts/integralcf-bold.otf);
}
@font-face {
  font-family: textt;
  src: url(assets/text-font/Sebino-Regular.ttf);
}
.comments .fa-check {
  font-size: 14px;
  padding: 1.2% 1.5%;
}
.bg-suc {
  background-color: rgb(1, 171, 49) !important;
}
.font1 {
  font-family: heading;
}
.font2 {
  /* font-family: "Nunito Sans", sans-serif; */
  font-family: font3;
}
.font3 {
  font-family: textt;
}
.bg-prime {
  background-color: rgb(240, 240, 240) !important;
}
.text-prime {
  color: rgba(128, 128, 128, 0.59) !important;
}
.fw-max {
  font-weight: 900 !important;
}
.border-prime {
  border: 1px solid lightgray !important;
}
.bg-secondary {
  color: rgb(92, 91, 91) !important;
}
.letter-spaceing-sm {
  letter-spacing: 0.5px;
}

.fw-min {
  font-weight: 800 !important;
}
.fw-sm {
  font-weight: 600 !important;
}
.fs-sm {
  font-size: 14px !important;
}
.fs-xs {
  font-size: 12px !important;
}
.fs-md {
  font-size: 17px;
}
.lh-0 {
  line-height: 15px;
}
.rounded-min {
  border-radius: 10px;
}
.rounded-md {
  border-radius: 20px;
}
.box-shadow {
  box-shadow: 1px 1px 5px lightgray;
}
.hoverb:hover {
  background-color: lightgray !important;
}
.head-img-cont {
  width: 100%;
}
.shop-btn {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 15px;
}
.brands {
  height: 8vw;
}
.brands2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9vw;
  flex-wrap: wrap;
}
.brands2 p {
  color: white;
  margin: 0px;
}
.brands2 .zara {
  letter-spacing: -4px;
  font-size: 3.5vw;
  font-weight: 300 !important;
}
.brands2 .versace {
  font-size: 2.8vw;
}
.brands2 .gucci {
  font-size: 3.5vw;
}
.brands2 .calvin {
  font-size: 3vw;
}
.brands2 .prada {
  font-size: 3.2vw;
}
.brands img {
  width: 11vw;
}
.total-style div {
  width: 30%;
  border-right: 1px solid rgb(165, 159, 159, 0.333);
}
/* .browse .row .col-md-5,
.browse .row .col-md-6 {
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 1px 10px lightgray;
  position: relative;
  height: 200px;
  overflow: hidden;
  margin-top: 1%;
}
.browse .row .col-md-5 img,
.browse .row .col-md-6 img {
  position: relative;
  height: 100%;
}
.browse .row .col-md-5 p,
.browse .row .col-md-6 p {
  position: absolute;
  top: 30px;
  left: 10%;
} */
.browse {
  border-radius: 30px;
  margin-top: 4% !important;
}
.comments {
  border: 1px solid rgba(211, 211, 211, 0.392);
}
.comments .fa-star {
  margin-right: 2%;
}

.slider .fa-arrow-right {
  font-size: 20px;
  position: absolute;
  left: 97% !important;
  top: -35px;
  width: 0px;
  padding-bottom: 20px !important;
  cursor: pointer;
}
.slider .fa-arrow-left {
  font-size: 20px;
  position: absolute;
  left: 94% !important;
  top: -35px;
  width: 0px;
  cursor: pointer;
}
.card-img img {
  height: 282px;
  display: flex;
  justify-self: center;
}
.card-img {
  background-color: rgb(242, 240, 241);
  border-radius: 20px !important;
}
.card {
  width: 20.5vw;
  border: 0px !important;
  margin-bottom: 0.6%;
  /* margin: 13px 13px 5px 0px; */
}

.card-body {
  padding: 1rem 4px 1rem 0.5rem !important;
}
.card-body .fa-star {
  color: gold;
  margin-right: 4px;
  margin-top: 4px;
  font-size: 16px;
  margin-bottom: 6px;
}
.card-body div .price,
.card-body div del {
  font-weight: 600;
  font-size: 24px;
  margin-right: 8px;
}
.card-body div .dis-msg {
  color: rgba(255, 0, 0, 0.786);
  background-color: rgba(234, 5, 5, 0.16);
  padding: 5px 10px 5px 10px;
  border-radius: 100px;
}

.card-body p {
  font-size: 19px !important;
  text-wrap: nowrap;
  font-weight: 700;
  margin-bottom: 2px;
}
.card-body div span.rounded-pill {
  color: rgba(227, 47, 47, 0.582);
  background-color: rgba(255, 0, 0, 0.227);
}
.card-body div .rating {
  font-size: 15px !important;
  font-weight: lighter;
}

.btn-contt {
  height: 8.1vw;
}
.cards-heading {
  font-size: 2.8rem;
  text-align: center;
  line-height: 13.1vw;
  height: 11.2vw;
  margin-bottom: 0px;
}
.View-btn {
  background-color: transparent;
  border: 1px solid rgba(211, 211, 211, 0.572);
  color: black;
  height: fit-content;
  width: fit-content;
  padding: 1.15% 6.3%;
  border-radius: 50px;
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-self: center;
  /* margin-top: 1.5%; */
}
.View-btn:hover {
  background-color: gray;
  color: white;
}
.card2 {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  height: 350px;
  width: 23%;
  margin-top: 20px;
  box-shadow: 1px 1px 5px gray;
}
.card-img2 img {
  margin: auto;
  height: 350px;
  background-color: lightgray;
  display: flex;
  max-width: 344px;
  justify-self: center;
}
.card-body2 .card-icons {
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
}
.card-body2 .card-icons a i {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  width: 30px;
  text-align: center;
  height: 30px;
}
.card-body2 .card-icons a .fa-facebook,
.card-body2 .card-icons a .fa-square-instagram,
.card-body2 .card-icons a .fa-x-twitter,
.card-body2 .card-icons a .fa-github {
  display: none;
}
.card-body2 h3 {
  display: none;
  text-align: center;
}

.searchicon:focus .mobile-search {
  display: block !important;
}
.mobile-search {
  animation-name: search;
  animation-duration: 0.5s;
}
@keyframes search {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
.star-img2 {
  position: absolute;
  top: 40%;
  left: 20%;
  width: 10%;
}
.star-img1 {
  position: absolute;
  top: 40px;
  left: 92%;
  width: 100px;
}
.card2:hover .card-body2 h3 {
  display: block !important;
  animation-name: heading;
  animation-duration: 0.5s;
}
@keyframes heading {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translate(0);
  }
}
.card2:hover {
  border-radius: 0px;
}
.card2:hover .card-body2 .card-icons a .fa-facebook {
  display: block;
  animation-name: cards-icon;
  animation-duration: 0.3s;
}

.card2:hover .card-body2 .card-icons a .fa-x-twitter {
  display: block;
  animation-name: cards-icon;
  animation-duration: 0.7s;
}
.card2:hover .card-body2 .card-icons a .fa-github {
  display: block;
  animation-name: cards-icon;
  animation-duration: 0.9s;
}
.card2:hover .card-body2 .card-icons a .fa-square-instagram {
  display: block;
  animation-name: cards-icon;
  animation-duration: 0.5s;
}
.car-div {
  margin-bottom: 1%;
}
.comet-sec-heade {
  height: 11.5vw;
  line-height: 15vw;
}
@keyframes cards-icon {
  from {
    transform: translateX(-50px);
  }
  to {
    transform: translate(0);
  }
}

@media all and (max-width: 766px) {
  .card2:hover .card-body2 .card-icons a .fa-facebook,
  .card2:hover .card-body2 .card-icons a .fa-square-instagram,
  .card2:hover .card-body2 .card-icons a .fa-x-twitter,
  .card2:hover .card-body2 .card-icons a .fa-github,
  .card2:hover .card-body2 h3 {
    animation-name: none;
  }
  .card-body2 .card-icons a .fa-facebook,
  .card-body2 .card-icons a .fa-square-instagram,
  .card-body2 .card-icons a .fa-x-twitter,
  .card-body2 .card-icons a .fa-github,
  .card-body2 h3 {
    display: block;
  }

  .card2 {
    width: 95%;
    border-radius: 0px;
  }
  /* #onsale,
  #newarival {
    margin-bottom: 2.2rem !important;
  } */
  .btn-contt {
    height: 20.1vw;
  }
  .comments {
    width: 95%;
    margin: auto;
  }
  .brands2 .prada {
    font-size: 7vw;
  }
  .brands2 .gucci {
    font-size: 9vw;
  }
  .brands2 .zara {
    letter-spacing: -2px;
    font-size: 8vw;
    font-weight: 300 !important;
  }
  .brands2 .versace {
    font-size: 7vw;
  }
  .brands2 .calvin {
    font-size: 7vw;
  }
  .brands2 {
    height: auto;
    justify-content: space-evenly;
    padding: 4% 0px;
  }
  .brands2 p {
    margin: 0px 2%;
  }
  .total-style div p:nth-child(1) {
    font-size: 7vw !important;
  }
  .total-style div:nth-child(2) {
    border: 0px !important;
  }
  .total-style div p:nth-child(2) {
    font-size: 3vw !important;
  }

  .h-heading + p {
    font-size: 4vw !important;
  }
  .comet-sec-heade {
    font-size: 9vw !important;
    line-height: 10vw;
    display: flex;
    /* align-self: end !important; */
    justify-content: center;
    align-items: end;
    height: 30vw;
  }
  .View-btn {
    width: 300px;
    padding: 0% 6%;
    font-size: 17px;
    height: 40px;
  }
  .browse {
    border-radius: 30px;
  }
  .car-div {
    justify-content: space-between;
    padding: 0px !important;
  }
  .card-img img {
    height: 175px !important;
  }
  .card-img {
    border-radius: 10px !important;
  }
  .card {
    width: 48% !important;
    margin: 0px;
    margin-bottom: 30px;
  }
  .card-body p {
    font-size: 3.5vmin !important;
  }
  .cards-heading {
    font-size: 8vw !important;
    font-size: 2.8rem;
    text-align: center;
    line-height: 35vw;
    height: 26vw;
  }

  .card-body .fa-star {
    font-size: 3vmin;
    margin-bottom: 4px;
  }
  .card-body div .dis-msg {
    padding: 3px 6px 3px 6px;
    border-radius: 100px;
    font-size: 3vmin;
  }
  .card-body div .price,
  .card-body div del {
    font-weight: 600;
    font-size: 3vmax;
    margin-right: 3px;
  }
  .card-body div .rating {
    font-size: 13px !important;
    margin-top: 1%;
  }
  .slider .col-md-4 {
    width: 95%;
    margin: auto;
    padding: 0px !important;
  }
  .home-cont {
    width: 95% !important;
    margin: auto !important;
  }
  .h-heading {
    font-size: 10vw !important;
    margin-bottom: 0.5rem;
  }
  .shop-btn {
    width: 100%;
    height: 40px;
  }
  .total-style div {
    width: 50%;
    /* padding-left: 10%; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .brands img {
    width: 90px !important;
    margin: 3% 1%;
  }
  .brands {
    height: fit-content;
  }
  .slider .fa-arrow-right {
    left: 85% !important;
  }
  .slider .fa-arrow-left {
    left: 77% !important;
  }
}

@media screen and (min-width: 766px) and (max-width: 1220px) {
  .h-heading + p {
    font-size: 2vw !important;
  }
  .h-heading {
    font-size: 5vw;
    margin-bottom: 4% !important;
  }
  .total-style div p:nth-child(1) {
    font-size: 3vw !important;
  }
  .total-style {
    padding: 0px !important;
  }

  .total-style div p:nth-child(2) {
    font-size: 1.1vw !important;
  }
  .head-img {
    margin-right: 0px !important;
  }
  .card2:hover .card-body2 .card-icons a .fa-facebook,
  .card2:hover .card-body2 .card-icons a .fa-square-instagram,
  .card2:hover .card-body2 .card-icons a .fa-x-twitter,
  .card2:hover .card-body2 .card-icons a .fa-github,
  .card2:hover .card-body2 h3 {
    animation-name: none;
  }
  .card-body2 .card-icons a .fa-facebook,
  .card-body2 .card-icons a .fa-square-instagram,
  .card-body2 .card-icons a .fa-x-twitter,
  .card-body2 .card-icons a .fa-github,
  .card-body2 h3 {
    display: block;
  }
  .card2 {
    width: 45%;
    border-radius: 0px;
  }
  .card-body2 .card-icons a .fa-facebook,
  .card-body2 .card-icons a .fa-square-instagram,
  .card-body2 .card-icons a .fa-x-twitter,
  .card-body2 .card-icons a .fa-github {
    display: block;
  }

  .card {
    width: 32% !important;
  }
  .card-body div .price,
  .card-body div del {
    font-weight: 600;
    font-size: 2vw;
    margin-right: 8px;
  }
  .card-body p {
    font-size: 2vw !important;
    margin-bottom: 3px;
  }
  .card-img img {
    height: 230px !important;
  }
  .card-body .fa-star {
    font-size: 1.5vw;
    margin-bottom: 0px;
  }
  .card-body div .dis-msg {
    font-size: 1.3vw !important;
  }
}
